/* Style for book entry */
.book-entry {
    margin-bottom: 40px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

/* Style for book details */
.book-details {
    overflow: auto;
}

/* Style for book title */
.book-title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
/* Style for book properties */
.book-properties {
    margin-bottom: 20px;
}
  
/* Style for book covers */
.book-cover {
    width: 150px;
    height: 200px;
    object-fit: cover;
    margin-right: 20px;
    margin-bottom: 20px;
}
  
/* Style for book information */
.book-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}
  