<form class="row g-3 mx-auto my-auto" method="post">
  {% csrf_token %}
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">{{ form.title.label }}</label>
        {{ form.title }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">{{ form.body.label }}</label>
        {{ form.body }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <label class="form-label">{{ form.rating.label }}</label>
        <div class="rateyo-interactive"></div>
        {{ form.rating }}
      </div>
    </div>
    <button class="btn btn-secondary" type="submit">{{ label }}</button>
  </div>
</form>