{% extends 'base.html' %}
{% load static %}

{% block title %}
    BookReviews
{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock head %}

{% block content %}
    <p>Welcome to the best book reviews web. Enjoy! :D</p>
    
    <!-- List of books -->
    <div class="recommended-books">
        <h2>Recommended books</h2>
        {% for book in books %}
            {% include 'book_entry.html' with detailed=False %}
        {% endfor %}
    </div>

{% endblock content %}