.book-entry {
    margin-bottom: 40px;
    outline: 5px solid blue;
}

.book-cover{
    float: left;
}

.book-details {
    overflow: auto;
    display: block;
    margin-right: 15px;
    margin-left: 15px;
    outline: 1px solid red
}

.book-title {
    font-family: 'Verdana', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
}

.book-properties {
    font-family: 'Verdana', sans-serif;
    line-height: 8px;
}

.book-synopsis{
    font-family: 'Verdana', sans-serif;
    text-align: justify;
    outline: 2px solid purple;
}
.clear {
    clear: both;
}