.book-entry {
    margin-bottom: 40px;
    outline: 5px solid blue;
}

.book-cover{
    float: left;
    margin-right: 15px;
}

.book-details {
    overflow: auto;
    display: block;
    outline: 1px solid red
}

.clear {
    clear: both;
}